extends layout

block body-scripts
  
block body-content
  center
    table(width="80%")
      tr
        td(colspan="2", height="50", align="center")
          b Welcome to Page Crawler : OTGLite DB Management Page
      tr
        td(width="170", height="30", align="right")
          | Applicable site : 
        td
          | www.xiaoshuo240.cn
      tr
        td(height="30", align="right")
          | Save format : 
        td
          | txt files / sqlite db
      tr
        td(colspan="2", align="right")
          | &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
          a(href="/") Back to Index Page