extends layout

block body-scripts
  script(src="/js/index.js")
  
block body-content
  center
    table(width="80%")
      tr
        td(colspan="2")
          table(width="100%")
            tr
              td(height="50", width="400", valign="top")
                b Page Crawler : OTGLite (TXT/DB Edition) 
              td(align="right", valign="top")
                a(href="/txt") TXT file management
                | &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
                a(href="/db") DB management
                | &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
                a(href="/log") Check out Log info
      tr
        td(height="40", align="right")
          | Start Page :
        td(align="right")
          if nextlink != undefined
            input(type="text", id="txtOtg", value=nextlink, style="width:98%")
          else
            input(type="text", id="txtOtg", value="http://www.qingyunian.net/56.html", style="width:98%")
      tr
        td(colspan="2", height="40", align="right")
          | &nbsp;&nbsp;Fetch&nbsp;
          select(id="maxPages")
            option(value="1" selected) 1
            option(value="5") 5
            option(value="10") 10
            option(value="20") 20
            option(value="30") 30
            option(value="50") 50
            option(value="100") 100
          | &nbsp;pages, then save to &nbsp;
          select(id="opSaveTo")
            option(value="db") SQLite3 DB
            option(value="txt") TXT file
          | &nbsp;&nbsp;&nbsp;
          button.go(id="btnOtg") Grabee Go!
      tr
        td(colspan="2", align="right")
          textarea.response(id="taOtgRes", cols="30", rows="20", style="width: 98%", readonly)
      tr
        td(colspan="2")
          | 
      tr
        td(colspan="2")
          p.otg-info-title Applicable Sites : 
          ul
            li
              a.otg-website(href="http://www.qingyunian.net", target="_blank") www.qingyunian.net 
              span.otg-link-space example link: 
                a.otg-example(href="http://www.qingyunian.net/54.html", target="_blank") http://www.qingyunian.net/54.html
            li
              a.otg-website(href="https://m.xbiqugex.cc/", target="_blank") m.xbiqugex.cc 
              span.otg-link-space example link: 
                a.otg-example(href="https://m.xbiqugex.cc/book_10611/618843174.html", target="_blank") https://m.xbiqugex.cc/book_10611/618843174.html
            li
              a.otg-website(href="https://m.ddyueshu.cc/", target="_blank") m.ddyueshu.cc 
              span.otg-link-space example link: 
                a.otg-example(href="https://m.ddyueshu.cc/wapbook/35829602_709677954.html", target="_blank") https://m.ddyueshu.cc/wapbook/35829602_709677954.html
            li
              a.otg-website(href="https://www.ghost580.com/", target="_blank") ghost580.com 
              span.otg-link-space example link: 
                a.otg-example(href="https://www.ghost580.com/read/64258/17990253.html", target="_blank") https://www.ghost580.com/read/64258/17990253.html
          //- p.otg-info-warning Below sites are yet to support...
          //- ul
      tr
        td(colspan="2")
          p.otg-info-title Reading Sites For Chinese Books (Recommendation) :  
          ul
            li
              a.otg-website(href="https://zh.z-lib.gs/", target="_blank") Z-Library (Chinese Library)
              span.otg-link-space example link: 
                a.otg-example(href="https://reader4.z-library.sk/?source=5202f24101eb90ba3091cb10617c25d77de498e48532a666a8d7616974b5f3b7", target="_blank") 回到明朝当王爷（全本，在线阅读）
