extends layout

block body-scripts
  script(src="/js/index.js")
  
block body-content
  center
    table(width="80%")
      tr
        td(colspan="2", height="50", align="center")
          b Welcome to Page Crawler : OTGLite (TXT/DB Edition) 
      tr
        td(width="170", height="30", align="right", valign="top")
          | Applicable site : 
        td
          table
            tr
              td(width="225") 
                a.sample(href="http://www.xiaoshuo240.cn", target="_blank") www.xiaoshuo240.cn
              td.fs90 example link: 
                a.sample(href="http://www.xiaoshuo240.cn/book/1003/860406.html", target="_blank") http://www.xiaoshuo240.cn/book/1003/860406.html
            tr
              td
                a.sample(href="http://www.qingyunian.net", target="_blank") www.qingyunian.net
              td.fs90 example link: 
                a.sample(href="http://www.qingyunian.net/54.html", target="_blank") http://www.qingyunian.net/54.html
      tr
        td(height="30", align="right")
          | Save format : 
        td
          | txt files / sqlite db
      tr
        td(height="40", align="right")
          | Start Page :
        td(align="right")
          input(type="text", id="txtOtg", value="http://www.qingyunian.net/54.html", style="width:98%")
      tr
        td(colspan="2", height="40", align="right")
          | &nbsp;&nbsp;Fetch&nbsp;
          select(id="maxPages")
            option(value="1" selected) 1
            option(value="5") 5
            option(value="10") 10
            option(value="20") 20
            option(value="30") 30
            option(value="50") 50
            option(value="100") 100
          | &nbsp;Pages&nbsp;&nbsp;&nbsp;
          | Save to &nbsp;
          select(id="opSaveTo")
            option(value="db") SQLite DB
            option(value="txt") TXT file
          | &nbsp;&nbsp;&nbsp;
          button.go(id="btnOtg") Grabee Go!
      tr
        td(colspan="2", align="right")
          textarea.response(id="taOtgRes", cols="30", rows="20", style="width: 98%", readonly)
      tr
        td(colspan="2", align="right")
          | &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
          a(href="/txt") TXT file management
          | &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
          a(href="/db") DB management