doctype html
html
  head
    title OTGLite
    link(rel='icon', href='/favicon.ico')
    link(rel='stylesheet', href='/css/style.css')
    block html-header
  body
    script(src="/js/jquery-3.3.1.min.js")
    block body-scripts
    block body-content