extends layout

block body-scripts
  script(src="/js/txtmanage.js")

block body-content
  center
    table(width="80%")
      tr
        td(height="50", align="center")
          b Welcome to Page Crawler : OTGLite TXT Management Page
      tr
        td(height="80")
          span Total <b>#{filecount}</b> fetched file(s) found.
          | &nbsp;&nbsp;&nbsp;&nbsp;
          button.exp(id="btnExport") Export to a single text file
          | &nbsp;&nbsp;&nbsp;&nbsp;
          button.rm(id="btnRemove") Remove all fetched files
      tr
        td(align="right")
          | &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
          a(href="/") Back to Index Page