body {
  margin: 0;
  padding: 10px;
  border: 0;
  outline: 0;
  font-family: Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 24px;
  vertical-align: baseline;
  background: #FAF4B1;
  background-image: url(/img/texture.png);
}

div, dl, dt, dd
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

input, select {
  font-size: 18px;
  line-height: 22px;
}

textarea.response {
  border: 1px;
  border-style : solid;
  background-color: #FFF;
  color: #000;
  font-size : 18px;
  font-family : 'Courier New', Courier, monospace;
}

a {
  color: #493997;
  text-decoration:none;
  text-shadow:1px 1px 1px rgb(98, 177, 252);
}
a:hover {
  color: #dd6853;
}

button.go {
  font-size: 18px;
  line-height: 20px;
  width: 200px;
  height: 30px;
  cursor: pointer;
  color: black;
  background-color: rgb(190, 224, 255);
}
button.go:hover {
  color: white;
  background-color: rgb(126, 175, 221);
}

button.exp, button.rm, button.dbcrt, button.dbexp, button.dbrm {
  font-size: 18px;
  line-height: 20px;
  width: 260px;
  height: 36px;
  cursor: pointer;
  color: black;
  border-left-color: rgb(231, 255, 211); 
  border-top-color: rgb(231, 255, 211); 
  border-right-color: rgb(231, 255, 211); 
  border-bottom-color: rgb(231, 255, 211); 
  background-color: rgb(189, 240, 147);
}
button.rm, button.dbrm {
  color: rgb(255, 0, 0);
}
button.dbexp, button.dbrm {
  width: 300px;
}
button.exp:hover, button.rm:hover, button.dbcrt:hover, button.dbexp:hover {
  color: white;
  background-color: rgb(83, 143, 75);
}
button.rm:hover, button.dbrm:hover {
  color: yellow;
  background-color: rgb(83, 143, 75);
}