body {
  margin: 0;
  padding: 10px;
  border: 0;
  outline: 0;
  font-family: Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  vertical-align: baseline;
  background: #FAF4B1;
  background-image: url(/img/texture.png);
}

input, select, button {
  font-size: 16px;
  line-height: 20px;
}

div, dl, dt, dd
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

textarea.log, textarea.response {
  border: 1px;
  border-style : solid;
  background-color: #FFF;
  color: #000;
  font-size : 16px;
  font-family : 'Courier New', Courier, monospace;
}
textarea.log {
  font-size : 14px;
}

a.sample {
  color: rgb(100, 100, 100);
  text-decoration:none;
  text-shadow:1px 1px 1px #FFF;
}
a {
  color: #493997;
  text-decoration:none;
  text-shadow:1px 1px 1px rgb(98, 177, 252);
}
a.sample：hover, a:hover {
  color: #dd6853;
}

button.go {
  width: 200px;
  height: 30px;
  cursor: pointer;
  color: black;
  background-color: rgb(190, 224, 255);
}
button.go:hover {
  color: white;
  background-color: rgb(126, 175, 221);
}

button.exp, button.rm, button.dbexp, button.dbrm {
  width: 240px;
  height: 30px;
  cursor: pointer;
  color: black;
  border-left-color: rgb(231, 255, 211); 
  border-top-color: rgb(231, 255, 211); 
  border-right-color: rgb(231, 255, 211); 
  border-bottom-color: rgb(231, 255, 211); 
  background-color: rgb(189, 240, 147);
}
button.rm, button.dbrm {
  color: rgb(255, 0, 0);
}
button.dbexp, button.dbrm {
  width: 280px;
}
button.exp:hover, button.rm:hover, button.dbexp:hover {
  color: white;
  background-color: rgb(83, 143, 75);
}
button.rm:hover, button.dbrm:hover {
  color: yellow;
  background-color: rgb(83, 143, 75);
}

table, td, tbody {
  margin: 0px;
  padding: 0px;
}

table.bls, td.bls {
  margin: 0px;
  padding: 2px;
  border-collapse: collapse;
  border: 1px solid black;
}

tr.trb-title {
  background: #FAD491
}
tr.trb {
  background: #FAF4B1
}
tr.trb:hover {
  cursor: pointer;
  background: #FAE4A1
}

.fs90 {
  font-size: 90%;
}
