body {
  margin: 0;
  padding: 10px;
  border: 0;
  outline: 0;
  font-family: Geneva, Verdana, sans-serif;
  font-size: 16pt;
  vertical-align: baseline;
  background: #FAF4B1;
  background-image: url(/img/texture.png);
}

div, dl, dt, dd
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

textarea.response {
  border: 1px;
  border-style : solid;
  background-color: #FFF;
  color: #000;
  font-size : 12pt;
  font-family : 'Courier New', Courier, monospace;
}

a {
  color: #493997;
  text-decoration:none;
  text-shadow:1px 1px 1px rgb(172, 172, 172);
}
